@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";
@plugin "daisyui";

/* @plugin "daisyui"{
  themes: light --default, dark;
}

@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #67fbef;
  --color-secondary: teal;
} */

.font-montserrat {
  font-family: "Montserrat", sans-serif;
}

.font-lato {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}


body {
  overflow-x: hidden;
  scroll-behavior: smooth;
  z-index: 1000;
}
#skills {
  scroll-margin-top: 30px;
}
#about {
  scroll-margin-top: 70px;
}

